* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #5d5c61;
}

/*-----------------------------------------------------Nav*/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d5c61;
    width: 100%;
}

#logo {
    font-family: 'Playfair Display', serif;
    color: #fafafa;
    position: fixed;
    left: 50%;
    right: 50%;
    top: 5px;
    font-size: 5vh;

}

.logo {
    color: #fafafa;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    display: flex;
    flex-direction: row;

}

.nav-links {
    display: flex;
    width: 30%;
    justify-content: space-around;

}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #fafafa;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;

}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fafafa;
    margin: 5px;
    transition: all 0.3s ease;

}

@media screen and (max-width:1500px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        ;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5d5c61;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 5;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/*-------------------------------------------------------------Nav*/

/*-------------------------------------------------------------Section*/

section {
    height: 80vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;


}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/*-------------------------------------------------------------Section*/

/*-------------------------------------------------------------Cards*/

.profile-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;

}

.profile-card-container {
    min-width: 200px;
    min-height: 300px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in;
    transition: tranform 1s ease-in-out;
}

.profile-card {
    height: 100%;
    width: 100%;
    transition: transform 1s ease-in;
    transform-style: preserve-3d;
}

.profile-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    transform: rotateY(180deg);
}

.profile-card figure {
    width: 100%;
    height: 100%;
    position: absolute;
}

.profile-card:hover .front img {
}

.profile-card .back {
    background: #379683;
    transform: rotateY(180deg);
    color: #fafafa;
    z-index: 2;
    height:100%;
    width: 100%;
}


/*-------------------------------------------------------------Cards*/

/*-------------------------------------------------------------Maps*/

.maps-container {
    position: absolute;
}

.maps-container h1 {
    text-align: center;
    margin: 20px;
    font-size: 40px;
}

.map-card {
    position: sticky;
    top: 8%;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: #fafafa;
}


#vale-map {

    z-index: 0;
}

#captured-map {

    z-index: 1;
}

#brindol-map {

    z-index: 2;
}

.map-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}



/*-------------------------------------------------------------Maps*/

/*-------------------------------------------------------------Factions*/

.faction-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;

}


.faction-card {
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.faction-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

/*-------------------------------------------------------------Factions*/

/*-------------------------------------------------------------Chronicles*/

.chronicles-container {
    /*
    
    width: 100%;
    opacity: 0.5;
    height: 100vh;
    
    */
    background: url(/images/chronicles/chronicles-background.jpeg);
    opacity: 0.7;
    color: #fafafa;
    position: absolute;
    height: 100vh;
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}


.chapter {
    width: 100px;
    border: 5px solid black;
    min-height: 100px;
    padding: 10px;
    margin: 10px;
}

.chapter-card {
    border: 2px solid white;
    width: 100%;
}

/*-------------------------------------------------------------Chronicles*/

/*-------------------------------------------------------------Footer*/

footer {
    display: none;
    background-color: #5d5c61;
    height: 50px;
}

/*-------------------------------------------------------------Footer*/
